

body{
    width: 100%;
    min-height: 100vh;

    background: #0086BF;
}

.container-card-quiz{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.card-quiz{
    width: 400px;
    height: 450px;

    border-radius: 12px;

    background: white;
}